#cloud-config
autoinstall:
  version: 1
  apt:
   geoip: true
  #early-commands:
   #- chmod 600 /target/etc/netplan/01-network-manager-all.yam
  locale: en_US
  network:
    version: 2
    ethernets:
      ens18:
        dhcp4: true
  keyboard:
    layout: us
  storage:
    layout:
      name: direct
    swap:
      size: 0
  ssh:
    install-server: yes
    allow-pw: yes
  user-data:
    disable_root: false
    preserve_hostname: false
    hostname: ubuntu
    package_upgrade: true
    timezone: Europe/Amsterdam
    users:
      - name: fansec
        plain_text_passwd: CHANGE_ME
        shell: /bin/bash
        groups: [adm, cdrom, dip, plugdev, lxd, sudo]
        lock-passwd: false
        sudo: ALL=(ALL) NOPASSWD:ALL
  packages:
    - cloud-init
    - qemu-guest-agent
  late-commands:
    - echo 'fansec ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/ubuntu
