# Build: packer build --var-file=win2019.pkrvars.hcl --var-file=../proxmox.pkrvars.hcl win2019.pkr.hcl

# VM settings
vm_id                = 122
vm_name              = "Win2019-Template"
template_name        = "Win2019-Template-Cloudbase"
template_description = "Windows Server 2019 Template"
os                   = "win10"
cores                = 2
sockets              = 2
memory               = 4096
cpu_type             = "kvm64"

# Disk
disk_size         = "30G"
disk_format       = "raw"
disk_storage_pool = "storage"
iso_storage_pool  = "storage"

# Network
bridge   = "vmbr0"
firewall = true

# Builder credentials (must match autounattend.xml)
builder_username = "Administrator"
builder_password = "CHANGE_ME"

# Path to Windows Server 2019 ISO on the Proxmox host
iso_file = "storage:iso/SW_DVD9_Win_Server_STD_CORE_2019_1809.2_64Bit_English_DC_STD_MLF_X22-18452.ISO"

# ISO with the QEMU guest agent / VirtIO drivers
agent_iso_file = "storage:iso/quemu_agent.iso"
